<h3>Tweets</h3>
<form action="/submit_tweet" method="POST">
	<input type="text" name="tweet[user_id]" value="User ID" />
	<input type="text" name="tweet[message]" value="Message" />
	<input type="text" name="tweet[hashtags]" value="Hashtags" />
	<input type="text" name="tweet[media_url]" value="Media URL" />
	<input type="submit" value="Submit" />
</form>